<form method="post" action="reg.php"> 
    <input type = "text" name = "user" placeholder="Felhasználónév"><br>
    <span id="userError"></span>
    <br>
    <input type = "password" name = "pwd" placeholder="Jelszó"><br>
    <span id="pwdError"></span>
    <br>
    <input type = "password" name = "pwdc"
                   placeholder="Jelszó megerősítése"><br>
    <span id="pwdcError"></span>
    <br>
    <input type = "text" name = "email" placeholder="E-mail cím"><br>
    <span id="emailError"></span>
    <br>
    <input type="submit" value="Regisztráció" name="reg">
</form>
